body {
  display: flex;
  flex-direction: column;
  color: #F9FAF8;
  font-family: sans-serif;
  margin: 0;
}

/* colors and font styles */

.header, .footer, .hero {
  background-color: #1F2937;
}

.header {
  display: flex;
}

.header-logo {
  font-size: 24px;
}

.header-links {

}

.header-links a {

}

.hero {

}

.hero-text {

}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}

.hero-secondary-text {
  font-size: 18px;
  font-weight: #E5E7EB;
}

.hero button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 2px;
  border-style: none;
  padding: 8px 23px;
  font-weight: 700;
}

.hero-img {
  background-color: #6d747d; 
}

.information {

}

.information-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
}

.information-cards {

}

.info-card {
  color: #1F2937;
  
}

.info-card img {
  border: solid #3882F6 2px;
  border-radius: 5%;
  width: 150px;
  height: 150px;
}

.quote {
  background-color: #E5E7EB;
}

.quote p {
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
}

.quote-citation {
  color: #1F2937;
}


.call-to-action {
  background-color: #3882F6;
}

.call-to-action-text {

}

.call-to-action-text h5 {

}

.call-to-action-text p {

}

.call-to-action button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 3px;
  border: solid #F9FAF8 2px;
  padding: 8px 23px;
  font-weight: 700;
}

.footer {

}